<h2 class="dashboard-text" *ngIf="helperCache.activeUser$ | async as user">
  Welcome {{ user?.username | titlecase }}!
</h2>
<gridster [options]="options">
  <gridster-item
    class="gridster-item-content"
    [item]="item"
    *ngFor="let item of dashboard"
    (itemChange)="onGridsterChange($event)"
  >
    <div class="drag-handler">
      <div class="col-md-10">
        <h1 class="text-overflow">{{ item?._id }}</h1>
      </div>
      <div class="col-md-2 flex-end">
        <mat-icon>open_with</mat-icon>
      </div>
    </div>
    <div class="widget-container">
      {{ item?._id }}
    </div>
  </gridster-item>
</gridster>
