<div class="flex-space-between">
  <h2>Dashboard : {{ dashboardDetails?.name }}</h2>
  <button
    style="float: right"
    mat-stroked-button
    color="primary"
    matTooltip="Add new widget"
    matTooltipPosition="above"
    (click)="addItem()"
  >
    <mat-icon>add</mat-icon>
    Add Widget
  </button>
</div>
<mat-divider></mat-divider>
<gridster [options]="options">
  <gridster-item
    class="gridster-item-content"
    [item]="item"
    *ngFor="let item of widgets"
    (itemChange)="onGridsterChange($event)"
  >
    <div class="drag-handler">
      <div class="col-md-10">
        <h1 class="text-overflow">{{ item?.name }}</h1>
      </div>
      <div class="col-md-2 flex-end">
        <mat-icon>open_with</mat-icon>
        <mat-icon class="delete" (click)="deleteWidget(item)">delete</mat-icon>
      </div>
    </div>
    <div class="widget-container">
      {{ item?._id }}
    </div>
  </gridster-item>
</gridster>
