<fieldset>
  <div class="card">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
      <h2 class="text-center mt-3">LOGIN</h2>
      <!-- <div class="col-md-10 offset-md-1"> -->
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <mat-form-field style="display: block">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" type="text" />
          </mat-form-field>
        </div>
        <div class="col-md-10 offset-md-1">
          <mat-form-field style="display: block">
            <mat-label>Password</mat-label>
            <input type="password" formControlName="password" matInput />
          </mat-form-field>
        </div>
        <br />
        <div class="text-center">
          <button mat-flat-button color="primary">Login</button>
        </div>
      </div>
      <!-- </div> -->
    </form>
    <!-- {{loginForm.value | json}} -->
  </div>
</fieldset>
