<!-- HEADER -->
<mat-progress-bar
  *ngIf="loaderService.isLoading | async"
  mode="indeterminate"
></mat-progress-bar>
<div
  class="spinner-loading-container"
  *ngIf="loaderService.isSpinnerLoading | async"
>
  <mat-spinner class="loading-spinner"></mat-spinner>
</div>
<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>
<!-- ROOT -->
<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarClosed">
    <!-- SIDEBAR -->
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <!-- ROUTER OUTLET -->
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
<!-- FOOTER -->
<app-footer></app-footer>
